<div class="background">
    <div class="container">
        <div class="task-details-container">
            <div class="task-info">
                <h1 class="task-title">{{ task?.title }}</h1>
                <p class="task-description">{{ task?.description }}</p>

                <div class="task-meta">
                    <span class="status-badge" [class.completed]="task?.isCompleted">
                        {{ task?.isCompleted ? 'Completada' : 'Pendiente' }}
                    </span>
                </div>
            </div>

            <div class="comments-section">
                <h2 class="comments-header">
                    <mat-icon>comment</mat-icon>
                    Comentarios ({{comments.length}})
                </h2>

                @if(comments.length >0){
                <div class="comments-list">
                    @for (comment of comments; track comment.id) {
                    <div class="comment-header">

                        <div class="header-left">
                            <p class="comment-text">{{ comment.comment }}</p>
                            @if(comment.isUpdated){
                            <span class="updated-badge">Actualizado</span>
                            }@else{
                            <span class="updated-badge">Sin actualizar</span>
                            }
                        </div>

                        <div class="header-right">
                            <button mat-icon-button [matMenuTriggerFor]="commentMenu" class="menu-button">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #commentMenu="matMenu">
                                <button mat-menu-item (click)="onUpdate(comment.id, comment.comment)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Update</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>reply</mat-icon>
                                    <span>Reply</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    }
                </div>
                }@else {
                <div class="no-comments">
                    <mat-icon>sentiment_dissatisfied</mat-icon>
                    <p>No hay comentarios aún. Añade uno</p>
                </div>
                }

                <div class="add-comment">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Añade un comentario</mat-label>
                        <textarea [formControl]="commentControl" matInput placeholder="Escribe tu comentario aquí..."
                            [(ngModel)]="editingCommentText"></textarea>
                    </mat-form-field>
                    @if (!isEdit) {
                    <button mat-raised-button class="send-button" (click)="onSend()">
                        <mat-icon>send</mat-icon>
                    </button>
                    }@else {
                    <button mat-raised-button class="send-button" (click)="onSaveUpdate()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>